.main {
    padding: 10px 10px;
}

.copy-container h1 {
    color: aquamarine;
    font-size: 100px;
}

.copy-container h2 {
    color: deepskyblue;
    font-size: 90px;
}

.contents-item {
    position: relative;
}

.contents-item img {
    width: 80%;
    height: 80%;
}

.contents-item h1 {
    position: absolute;
    top: 40px;
    left: 80px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    color: cyan;
    margin-top: 20px;
}

.contents-item h2 {
    position: absolute;
    top: 140px;
    left: 60px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75px;
    color: deepskyblue;
    margin-top: 10px;
}

.contents-item p {
    position: absolute;
    top: 300px;
    left: 200px;
    padding: 10px;
    font-size: 30px;
    color: aquamarine;
    margin-top: 10px;
}