body {
    font-family: Verdana;
}

.main {
    padding: 10px 10px;
}

.copy-container h1 {
    color: aquamarine;
    font-size: 100px;
}

.copy-container h2 {
    color: deepskyblue;
    font-size: 90px;
}

.contents-item img {
    width: 200px;
    height: 200px;
}

.contents-item p {
    font-size: 40px;
    margin-top: 20px;
}